<nav
  class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark"
  aria-label="Main navigation"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Project API </a>
    <button
      class="navbar-toggler p-0 border-0"
      type="button"
      data-bs-toggle="offcanvas"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Connexion/Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Inscription</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown01"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Settings</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<main class="container">
  <div
    class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm"
  >
    <img
      class="me-3"
      src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo-white.svg"
      alt=""
      width="48"
      height="38"
    />
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">Mon Project</h1>
      <small>Since 2021</small>
    </div>
  </div>

  <app-author></app-author>
</main>

<router-outlet></router-outlet>
